extends layout

block content
  // ##### Breadcrumb Area Start #####
  .breadcrumb-area
    // Top Breadcrumb Area
    .top-breadcrumb-area.bg-img.bg-overlay.d-flex.align-items-center.justify-content-center(style='background-image: url(img/bg-img/24.jpg);')
      //- h2 Contact US
    .container
      .row
        .col-12
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#')
                  i.fa.fa-home
                  |  홈
              li.breadcrumb-item.active(aria-current='page') 문의하기
  // ##### Breadcrumb Area End #####
  // ##### Contact Area Info Start #####
  .contact-area-info.section-padding-0-100
    .container
      .row.align-items-center.justify-content-between
        // Contact Thumbnail
        .col-12.col-md-6
          .contact--thumbnail
            img(src='img/bg-img/25.jpg' alt='')
        .col-12.col-md-5
          // Section Heading
          .section-heading
            h2 문의 정보
            p 아래의 문의하기 또는 예약을 통해 전화 문의가 가능합니다.
          // Contact Information
          .contact-information
            p
              span 주소:
              |  전라북도 고창군 성송면 사내리
            p
              span 연락처:
              |  010 - 9981 - 9466
            p
              span 이메일:
              |  brotherplant@gmail.com
            //- p
            //-   span Open hours:
            //-   |  Mon - Sun: 8 AM to 9 PM
            //- p
            //-   span Happy hours:
            //-   |  Sat: 2 PM to 4 PM
  // ##### Contact Area Info End #####
  // ##### Contact Area Start #####
  section.contact-area
    .container
      .row.align-items-center.justify-content-between
        .col-12.col-lg-5
          // Section Heading
          .section-heading
            h2 문의 하기
            p 문의 내용을 작성하여 보내주시면, 적어주신 이메일로 답변을 드립니다. &#40;평일 기준 1~2 일 이내&#41;
          // Contact Form Area
          .contact-form-area.mb-100
            form(action='#' method='post')
              .row
                .col-12.col-md-6
                  .form-group
                    input#contact-name.form-control(type='text' placeholder='닉네임')
                .col-12.col-md-12 
                  .form-group
                    input#contact-email.form-control(type='email' placeholder='연락처')
                .col-12.col-md-12 
                  .form-group
                    input#contact-email.form-control(type='email' placeholder='이메일')
                .col-12
                  .form-group
                    input#contact-subject.form-control(type='text' placeholder='문의 제목')
                .col-12
                  .form-group
                    textarea#message.form-control(name='message' cols='30' rows='10' placeholder='문의 내용')
                .col-12
                  button.btn.alazea-btn.mt-15(type='submit') 문의 보내기
        .col-12.col-lg-6
          // Google Maps
          .map-area.mb-100
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5470.347705710245!2d126.64058715729146!3d35.388188388145174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35719dd82a294975%3A0xf2a663c2029807c3!2z7Y-s64-Z66eI7J2E7ZqM6rSA!5e0!3m2!1sko!2skr!4v1654207230885!5m2!1sko!2skr", width="600", height="450", style="border: 0", allowfullscreen, loading="lazy", referrerpolicy="no-referrer-when-downgrade' allowfullscreen='')
  // ##### Contact Area End #####
